<form {{action 'save' on='submit'}}>
  <label for = "projectName">Name</label>
  {{input id= "projectName" value = project.name}}

  <label for = "projectDescription">Description</label>
  {{textarea
    id= "projectDescription"
      value = project.description}}
  <button>Save</button>
</form>
